
.btn {
    padding: 10px 20px;
    border-radius: 60px;
    transition: 0.3s;
    font-size: 14px;
    font-weight: 700;
    display: inline-block;
}

.btn-primary {
    color: white;
    border: 1px solid $primaryColor;
    background-color: $primaryColor;
    &:hover {
        background-color: darken($color: $primaryColor, $amount: 10);
    }
}

.outline {
    background-color: transparent;
    color: $primaryColor;
    &:hover {
        background-color: darken($color: $primaryColor, $amount: 10);
        color: white;
    }
}

// Search bar


