// Color
$primaryColor: #3D00B7;
$grayColor: #EFEFEF;
$darkGray: #565656;
$bgGray: rgba(217, 224, 236, 0.2);

// Fonts
$primaryFont: 'DM Sans', 'Roboto', sans-serif;

// Spacing
$spacing-lg: 57px;
$spacing-sm: 22px;